body{
    margin: 0;
    padding: 0;
    background-image: url("/background.png");
    background-repeat: no-repeat;
    background-size: cover ;
    background-color: black;
    color:white;
    background-attachment: fixed;

}
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
    font-family: 'Posterama';
    src: 
        url('/Posterama.ttf') format('truetype');
        font-weight: 600;
        font-display: swap;
        font-style: normal;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 70px;
    margin-right: 70px;
    position: relative;
}

.BigBlossom{
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: max-content;
}

.SmallBlossom{
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: max-content;
}

h1{
    font-family: "Posterama", sans-serif;
    font-size: calc(30px + (66 - 30) * ((100vw - 300px) / (1600 - 300)));
    margin:0
}

p{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin:0
}

a.contact{
    font-family: "Posterama", sans-serif;
    transition: all;
    font-size:22px;
    transition-duration: 200ms;
    display: inline-flex;
}

.contact:hover{
    transform: scale(1.2);
    transition: all;
    transition-duration: 200ms;
}

ul li{
    list-style-type: none;
    font-family: "Posterama", sans-serif;
    font-size: 24px;
    line-height: 50px;
    margin-left: 50px;
}

.list{
    margin-top: 80px;
}

.ComingSoon{
    font-family: "Posterama", sans-serif;
    font-size:36px;
    margin-top:90px;
}

a{
    color: white;
    text-decoration: none;
}


@media screen and (min-width:1600px){
    h1{
        font-size: 66px;
    }
    .row-1{
        display: flex;
        justify-content: space-between;
    }
    .contact{
        margin: 0px;
        margin-right:150px;
    }
}